{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial,sans-serif;
}
body{
display: center;
justify-content: center;
align-items: center;
height: 100vh;
 background:url('jwelry.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container{
background:  rgba(255, 255, 255, 0.9);
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 
0-1);
text-align: center;
width: 280px;

}
h2{
margin-bottom: 20px;
}
form{
display: flex;
flex-direction: column;
}
label{
text-align: left;
font-size: 14px;
margin: 5px 0;
}
input{
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}
.forgot-password{
text-align: right;
margin-bottom: 10px;
}
.forgot-password a {
text-decoration: none;
color: #ff758c;
font-size: 12px;
}
button{
background: Grey;
color: white;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}
button:hover{
opacity: 0.9;
}
p{
margin-top: 10px;
font-size: 14px;
}
p a {
color: #ff758c;
text-decoration: none;
font-weight: bold;
}


